extends layout

block content
    div(class='container')
        h1= title
        p= message
        form(action='/administracion', method='POST')
            div(class='form-group')
                label(for='usuario') Usuario
                input(type='text', class='form-control', id='usuario', name='usuario', required)
            div(class='form-group')
                label(for='contraseña') Contraseña
                input(type='password', class='form-control', id='contraseña', name='contraseña', required)
            button(type='submit', class='btn btn-primary') Iniciar Sesión
