extends layout

block content
    h1= title
    form(action="/admin/profesionales/nuevo" method="POST")
        div
            label(for="nombre") Nombre:
            input(type="text" name="nombre" required)
        div
            label(for="apellido") Apellido:
            input(type="text" name="apellido" required)
        div
            label(for="dni") DNI:
            input(type="text" name="dni" required)
        div
            label(for="contacto") Teléfono:
            input(type="text" name="contacto" required)
        div
            label(for="email") Email:
            input(type="email" name="email" required)
        div
            label(for="matricula") Matrícula:
            input(type="text" name="matricula" required)
        div
            label(for="estado_id") Estado:
            select(name="estado_id" required)
                option(value="1") Activo
                option(value="2") Inactivo
        div
            label(for="especialidad_id") Especialidad:
            select(name="especialidad_id" required)
                each especialidad in especialidades
                    option(value=especialidad.especialidad_id) #{especialidad.nombre}
        div
            label(for="sucursal_id") Sucursal:
            select(name="sucursal_id" required)
                each sucursal in sucursales
                    option(value=sucursal.sucursal_id)= sucursal.nombre
        div
            button(type="submit") Agregar Profesional

   
    a(href='/admin/profesionales', class='btn btn-secondary mt-3') Volver

